/* Pamatstils */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d8b527;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

/* Navigācija */
.topnav {
  position: fixed;
  top: 20;
  left: 200px; /* vieta sānu izvēlnei */
  width: calc(100% - 200px);
  height: 50px;
  background-color: #070707;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.topnav a {
  /* flex: 1; */ /* noņem flex:1 */
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  font-weight: bold;
  transition: background-color #0000ff;
}

.topnav a:hover,
.topnav a.active {
  background-color: #d8b527;
  color: #000000;
}

/* Sānu izvēlne */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #ccccff;
  padding-top: 60px; /* lai nesakrīt ar topnav */
  box-sizing: border-box;
  z-index: 20; /* lai būtu virs topnav ja vajadzēs */
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #6495ed;
  display: block;
  border: 1px dotted #6495ed;
  transition: background-color bg-light;
}

/*.sidebar a:hover {
  background-color: #641e16;
  color: black; 
}  */

/* Galvenais saturs — šeit svarīgi nodrošināt nobīdi */
main {
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 50px;
  /* background-color: #641e16; */
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #fdfefe;
}

footer {
  position: fixed;
  bottom: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 60px;
  background-color: #641e16;
  padding: 15px 25px;
  color: white;
  text-align: center;
  z-index: 15;
}

/* Pielāgo tekstu headerī, footerī, jo tagad tie fiksēti */
header h1 {
  margin: 0;
  font-size: 24px;
  color: #fdfefe;
}

header p {
  margin: 0;
  font-size: 14px;
  color: #fdfefe;
}

#zimejums {
  background-color: #d27d2d;
}
