/* Fona krāsas un kopējais noformējums */
html, body {
  background-color: #E7D27E;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Galvene */
.header {
  padding: 20px;
  text-align: center;
  background: #B4AC8B;
  color: white;
  font-size: 30px;
}

/* Sānu izvēlne */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #333333;
  top: 0;
  left: 0;
  padding-top: 150px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border-bottom: 1px dotted red;
}

.sidebar a:hover {
  background-color: #dddddd;
  color: black;
}

/* Galvenais saturs */
main {
  margin-left: 220px;
  padding: 20px;
  margin-top: 50px;
}

/* Kājene */
footer {
  text-align: center;
  padding: 15px;
  background-color: #333333;
  color: white;
  margin-left: 200px;
  width: calc(100% - 200px);
}

/* Tabula */
table {
  background-color: #DE3163;
  color: #FF7F50;
  border: 1px solid red;
  width: 50%;
  margin: 0 auto;
}

th {
  background-color: #5DADE2;
  color: blue;
}

td {
  background-color: green;
}

/* Rezultāta stils */
.izcelts-rezultats {
  font-size: 24px;
  color: darkblue;
  font-weight: bold;
  background-color: #e0f0ff;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #0088cc;
  width: fit-content;
  margin-top: 10px;
}
