
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Par mums</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stils.css') }}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>Kontakti</h1>
    <p>Esiet sveicināti mūsu jaunajā mājas lapā!</p>
    <img src="https://cdn.glitch.global/efde7f74-0a68-447a-a539-ee57f9efabfe/buv2.jpg?v=1746615774859" width="25%">
  <marquee>Par mums</marquee>
    <a href="https://www.w3schools.com/html/default.asp">Ej uz citu lapu</a><br><br>
    <form>
      <label for="vards">Vārds: </label>
      <input type="text" id="vards" name="vards"><br><br>
      <label for="email">E-pasts: </label>
      <input type="email" id="email" name="email"><br><br>
      <input type="submit" value="Aiziet!">
    </form>
    <br>
    <a href="/">Atpakaļ</a>
  </body>
</html>