<!DOCTYPE html>
<html>
<head>
<title>Par mums</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>

<h1>PAR MUMS</h1>
<p>Sugu enciklopēdija latvijasdaba.lv ir apjomīgākā brīvpieejas datu krātuve internetā par Latvijā sastopamajām sēņu, augu un dzīvnieku sugām. Pašlaik tajā atrodamas ziņas par 5672 sugām, kuras ilustrē 8198 zīmējumi vai fotoattēli.

Enciklopēdija latvijasdaba.lv sniedz iespēju ielūkoties Latvijas dabas daudzveidības visdažādākajos tematos. Tā joprojām tiek papildināta ar jauniem sugu aprakstiem un attēliem.

Interneta enciklopēdija latvijasdaba.lv ir izveidota un uzturēta ar Askolda Kļaviņa ieguldījumu un atbalstu. Tās brīvpieeju lietotājiem nodrošina Gandrs. Jau kopš savas darbības pirmsākumiem 1989.gadā Gandrs ir izvirzījis uzstādījumu būt kam vairāk par veikalu, kurā tiek piedāvāts kvalitatīvs inventārs atpūtai dabā. Gandra devīzei – Viss atpūtai dabā – atbilst ne tikai nodrošināt labāko ekipējumu, lai radītu neaizmirstamas emocijas, bet arī: izglītot, rosināt iepazīt un neaizmirst saudzēt Latvijas dabu.</p>

</body>
</html>